# Ignore the dynamically updated version file.
_version.py

# Standard Python project ignores.
venv
*.pyc
.vscode
.idea
*.code-workspace
__pycache__/
.pytest_cache/
*.egg-info
dist/
/build

# Sphinx documentation
docs/_build
