if [[ $(uname -r) == *el8* ]] || [[ $(uname -r) == *el9* ]] ; then
    export KOMODO_ROOT={{ prefix }}
    KOMODO_RELEASE_REAL={{ release }}

    rhel_version_number=$(uname -r | grep -oP 'el\K[0-9]')
    source $KOMODO_ROOT/$KOMODO_RELEASE_REAL-rhel$rhel_version_number/enable
    export PS1="(${KOMODO_RELEASE_REAL}) ${_PRE_KOMODO_PS1}"
    export KOMODO_RELEASE=$KOMODO_RELEASE_REAL
else
    echo "Attention! Your machine is running on an environment that is not supported."
fi
