set host=`hostname`
set location=`echo ${host} | cut -d "-" -f 1`

switch (${location})
{%- for loc in locs %}
   case {{ loc.loc }}:
        setenv ERT_LSF_SERVER {{ loc.srv }}
        breaksw
{%- endfor %}
endsw
